<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groups</title>
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<body>
    <h1>Groups Chat</h1>
    <ul>
        <% groups.forEach(group => { %>
            <li>
                <form action="/join" method="GET" style="display: inline;">
                    <input type="hidden" name="roomid" value="<%= group._id %>">
                    <button type="submit"><%= group.name %></button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>